* {
  background-color: beige;
}

/* FONTS from Google*/
.xanh-mono-regular {
  font-family: "Xanh Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.xanh-mono-regular-italic {
  font-family: "Xanh Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

/*Variable Font*/
@font-face {
  font-family: "pixel";
  src: url("/VF/PatchesVF.ttf") format("truetype");
}

.pixel {
  font-family: "pixel", serif;
  font-variation-settings: "PTCH" var(--ptch);
  font-variation-settings: "STCH" var(--stch);
  font-size: var(--font-size);
}

/* 16X16 Font */
@font-face {
  font-family: "Patches";
  src: url("Patches16x16-Regular.otf") format ("opentype");
}



.maincontainer {
  display: flex;
  height: 100vh;
}

.description-right {
  width: 40%;
  height: 100%;
  overflow-y: auto;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.scroll-content {
  height: 200%;
}

.text-description {
  font-size: 15px;
  font-family: "Xanh Mono";
  text-align: left;
}

#letterInput {
  padding: 20px;
  /* margin: 40px; */
  box-sizing: border-box;
  font-size: 30px;
  font-family: "Xanh Mono";
  text-align: center;
  border: none;
  background: transparent;
  width: 80%;
  /* height:30vh; */
  align-items: center;
  /* position: relative; */
  z-index: 1;
  /* color: #a7587c ;  */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container {
  display: block;
  position: sticky;
  overflow: hidden;
  padding: 100px;
  width: 50vw;
  /* padding: 30px; */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 20px;
  padding: 30px;
  /* align-content: center; */
  justify-content: center;
  border-image-source: url("pixelborder.png");
  border-image-slice: 100% 0%;
  border-image-repeat: repeat;
  border-width: 10px;
  border-style: solid;
}

.grid-container > div {
  /* background-color:#eddfe1; */
  text-align: center;
  font-size: 30px;
  font-family: "pixel";
  font-variation-settings: "PTCH" 0;
}

.letter-border {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 40px;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "pixel";
  font-variation-settings: "PTCH" 100;
  color: #a7587c;
}

@keyframes borderanim {
    0% {
      font-variation-settings: "PTCH" 100;
    }
  
    100% {
      font-variation-settings: "PTCH" 0;
    }
  }
  
  .letter-border :hover {
    animation: borderanim 1s ease-out infinite;
  }

.top,
.bottom {
  display: flex;
  justify-content: center;
  gap: 0px;
}

.top span,
.bottom span {
  /* height: 30px; */
  text-align: center;
  line-height: 1em;
  font-size: 60px;
  font-family: "pixel", serif;
  font-variation-settings: "wght" 0;
}

.left,
.right {
  position: absolute;
  top: 0;
  /* top: 50%;  */
  /* transform: translateY(-50%); */
  display: block;
  font-size: 60px;
  font-family: "pixel", serif;
  font-variation-settings: "wght" 0;
}

.left {
  left: 0;
}

.right {
  right: 0.1em;
}

.left span,
.right span {
  transform-origin: center;
  transform: rotate(90deg);
  display: block;
  line-height: 0.9em;
}

.left span {
  margin-bottom: 0px;
}

.right span {
  margin-top: 0px;
}

